:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a, button {
  background-color: #535bf2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}
a:hover, button:hover {
  cursor: pointer;
  background-color: #4149d0; /* Slightly darker for hover effect */
  transform: scale(1.05); /* Slightly increase the size of the button */
}

img {
  display: none;
}

canvas {
  max-width: 25%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.greyscale-file-input-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: calc(100% - 32px);
  padding: 16px;
}

#greyscale-file-input {
  display: none;
}
.greyscale-file-label {
  display: inline-block;
  background-color: #535bf2;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}
.greyscale-file-label:hover {
  background-color: #4149d0; 
  transform: scale(1.05);
}

.file-name {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
  color: black;
}

.greyscale-output-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  width: calc(100% - 32px);
  padding: 16px;
}

#convert-btn,
#download {
  display: none;
}
